<div class="container">
  <div class="title">
    <span>COCOMO Calculator</span>
  </div>
  <div class="inputDiv">
    <div class="kloc">
      <span>KLOC: </span>
    </div>
    <div class="inputK">
      <input type="text" [(ngModel)]="kloc" (ngModelChange)="calculate()">
    </div>
  </div>
  <div class="tableBody">
    <table>
      <thead>
        <tr>
          <th>Parameter</th>
          <th>Organic</th>
          <th>Semi Detached</th>
          <th>Embedded</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Effort (man / month):</th>
          <th>{{currData['organic'].effort | number}}</th>
          <th>{{currData['semi detached'].effort | number}}</th>
          <th>{{currData['embedded'].effort | number}}</th>
        </tr>
        <tr>
          <th>Duration (month):</th>
          <th>{{currData['organic'].duration | number}}</th>
          <th>{{currData['semi detached'].duration | number}}</th>
          <th>{{currData['embedded'].duration | number}}</th>
        </tr>
        <tr>
          <th>Personnel (man):</th>
          <th>{{currData['organic'].personnel | number: '1.0-0'}}</th>
          <th>{{currData['semi detached'].personnel | number: '1.0-0' }}</th>
          <th>{{currData['embedded'].personnel | number: '1.0-0' }}</th>
        </tr>
        <tr>
          <th>Productivity:</th>
          <th>{{currData['organic'].p | number}}</th>
          <th>{{currData['semi detached'].p | number}}</th>
          <th>{{currData['embedded'].p | number}}</th>
        </tr>
      </tbody>
    </table>
</div>